name: Govuln
on: [push, pull_request]

jobs:
  govulncheck:
    name: Run govulncheck
    runs-on: ubuntu24.04-16core-64GB-600SSD-bor
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true
      - uses: actions/checkout@v5
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/*.go
            go.mod
            go.sum
            Makefile
      - name: govulncheck
        run: make vulncheck
        if: env.GIT_DIFF != ''
